<!---------------------------------------
   Fichier: liste-taches.html
   auteur: Alain
   Date: 2023-08-31 
----------------------------------------->
<section *ngIf="visible">
   <article class="row {{couleurEtat}}">
      <div class="col-5">
        <h2>{{titre}}</h2>
      </div> 
      <div class="col-7">
        <button>
          <img width="40" src="assets/images/crudTaches.png" (click)="gestionTaches()"  title="créer et modifier les tâches du projet">
        </button>
        <button>
          <img width="40" src="assets/images/admin.png" (click)="ouvrirStats()"  title="consulter statistiques">
        </button>
        <button>
          <img width="40" src="assets/images/annuler.png" (click)="retournerAuJournal()"   title="retourner au journal">
        </button>
    </div>
   </article>
   
   
   <table *ngIf="tabTaches.length > 0" class="table">
       <tr>
        <th>Numéro</th><th>Titre</th><th>Description</th>
       </tr>

       <tr *ngFor="let tac of tabTaches">
        <td *ngIf="!lectureSeule" title="Démarrer une session de travail sur {{tac.Titre}}" class="badge rounded-pill bg-primary" (click)="demarrerSessionTravail(tac)">{{tac.Numero}}</td>
        <td *ngIf="lectureSeule">{{tac.Numero}}</td>
        <td>{{tac.Titre}}</td>
         <td>{{tac.Description}}</td>
       </tr>
   </table>
</section>
