<div *ngIf="visible">
<!---------------------------------------
   Fichier: journal.html
   auteur: Alain
   Date: 2023-08-31 
----------------------------------------->
 <!-- Section du bandeau de controle -->  
   <section class="row {{developpeurConnecte.Etat}}">
    <article *ngIf="developpeurConnecte.Etat == 'actif' ; else elseBlock " class="col-3">
        <h2>{{statutJournal}} {{developpeurConnecte.Etat}} sur  {{sessionTravailCourante.TacheNumero}}</h2>
      </article>
      <ng-template #elseBlock>
      <article class="col-3">
        <h2>{{statutJournal}} {{developpeurConnecte.Etat}}</h2>
      </article>
      </ng-template>

      <article class="col-4">
         <button *ngIf="btnCommentaireVisible">  <img width="40" src='assets/images/commentaire.png' (click)="saisirCommentaire()"  title="Commenter votre travail"></button>
         <button *ngIf="btnArreterVisible">  <img width="40" src='assets/images/stop.png' (click)="arreterSessionTravail()" title="Arrêter votre travail"> </button>
         <button *ngIf="btnLectureTacheVisible">  <img width="40" src='assets/images/taches_readonly.png' (click)="lectureTaches()"  title="Consulter les tâches du projet"></button>
         <button *ngIf="btnChangerTache">  <img width="40" src='assets/images/changerTache.png' (click)="changerTache()"   title="Arrêter la session de travail en cours et ouvrir la liste des tâches du prjet"></button>
         <button>  <img width="40" src='assets/images/admin.png' (click)="ouvrirStatistiques()"  title="Consulter les statistiques"></button>
      </article>

      <article class="col-5">
        <h4>depuis {{ depuis }}</h4>
      </article>
   </section>


    <!-- Section du formulaire de commentaire -->
    <section *ngIf="formCommentaireVisible" class="row beige">
       <h3>Rédigez votre commentaire:</h3>
       <form (ngSubmit)="enregistrerCommentaire()">
         <label>Commentaire:</label>
         <textarea name="champ_comm" [(ngModel)]="commentaire.Contenu" rows="3" cols="35">

       
       </textarea>
         
          <button type="submit">
            <img width="40" src="assets/images/sauver.png">
          </button>
          <button (click)="annulerCommentaire()">
            <img width="40" src="assets/images/annuler.png">
        </button>
      </form>


    </section>

   <!-- Section du journal -->
   <section class="row border border-dark border-5">
      <table class="table border">
        <tr>
          <th>Date</th>
          <th>Heure</th>
          <th>Tâche</th>
          <th>Statut</th>
          <th>Commentaire</th>
        </tr>

        <tr *ngFor="let fait of tabFaits">
          <td>{{fait.Date}}</td>
          <td>{{fait.Heure}}</td>
          <td>{{fait.TacheNumero}}</td>
          <td><img height="30" src='assets/images/{{fait.Type}}.png' alt="{{fait.Type}}"></td>
          <td>{{fait.Contenu}}</td>
        </tr>
      </table>
   </section>





</div>
