<div class="container">
    <section class="entete row border border-warning border-5">
        <h1>{{ titre }}</h1>
    </section>


    <app-connexion #conn
      (connexionReussie)="lstTac.onConnexionReussie($event)"
      (connexionReussie)="onConnexionReussie($event)">
    </app-connexion>

    <app-liste-taches #lstTac 
      (quitterLstTac)="conn.onQuitterLstTac($event)"
      (quitterLstTac)="onQuitterLstTac($event)"
      (demarrerSession)="jour.onDemarrerSessionTravail($event)">
     </app-liste-taches>

     <app-journal #jour>

     </app-journal>
</div>