.entete{
    background-color: black;
    color:rgb(248,99,6);
}

.inactif{
    background-color: rgb(224,85,25);
    color:white;  
}

.actif{
    background-color: rgb(102,194,102);
    color:rgb(6,13,84);  
}
